    body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #111;
            color: white;
        }

        header {
            background-color: #e50914;
            padding: 30px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        nav {
            padding: 7px;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 30px;
            font-size: 20px;
        }

        nav a:hover {
            color: #e50914;
        }

        .hero {
            text-align: center;
            padding: 50px 20px;
            background: url('https://e01-elmundo.uecdn.es/assets/multimedia/imagenes/2022/04/29/16512471939657.jpg') no-repeat center center/cover;
        }

        .hero h1 {
            font-size: 30px;
        }

        .hero p {
            font-size: 58px;
        }

        .movies {
            display: flex;
            flex-wrap: wrap;
            gap: 35px;
            padding: 10px;
        }

        .movie-card {
            width: 200px; /* Ancho de cada tarjeta */
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
            transition: transform 0.3s;
        }

        .movie-card:hover {
            transform: scale(1.05);
        }

        .movie-card img {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }

        .movie-card h3 {
            padding: 10px;
            text-align: center;
        }

        .search-box {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 20px;
        }

        #search-input {
            width: 250px;
            padding: 8px;
        }

        button {
            padding: 8px 16px;
        }

        footer {
            background-color: #000;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
            font-size: 14px;
            color: #aaa;
        }
   
  .contenedor-botones {
    display: flex;
    gap: 10px; /* Espacio entre botones */
  }
